################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DenominationCalculator/obj
/DenominationCalculator/.vs/DenominationCalculator/v17
